DEEPFLOW_MYSQL_IMAGE={{ deepflow_mysql_image }}
DEEPFLOW_MYSQL_PORT={{ deepflow_mysql_port }}
DEEPFLOW_MYSQL_DATA={{ deepflow_mysql_data }}

DEEPFLOW_MYSQL_ROOT_PASSWORD={{ deepflow_mysql_root_password }}
DEEPFLOW_MYSQL_USER={{ deepflow_mysql_user }}
DEEPFLOW_MYSQL_PASSWORD={{ deepflow_mysql_password }}
DEEPFLOW_MYSQL_DATABASE={{ deepflow_mysql_database }}
