version: '3.9'

services:
  mysql:
    container_name: deepflow-mysql
    image: ${DEEPFLOW_MYSQL_IMAGE}
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DEEPFLOW_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DEEPFLOW_MYSQL_DATABASE}
      MYSQL_USER: ${DEEPFLOW_MYSQL_USER}
      MYSQL_PASSWORD: ${DEEPFLOW_MYSQL_PASSWORD}
    ports:
      - '${DEEPFLOW_MYSQL_PORT}:3306'
    volumes:
      - ${DEEPFLOW_MYSQL_DATA}:/var/lib/mysql
