DEEPFLOW_STACK_DIR={{ deepflow_stack_dir }}
DEEPFLOW_DATA={{ deepflow_data }}

DEEPFLOW_SERVER_IMAGE={{ deepflow_server_image }}
DEEPFLOW_APP_IMAGE={{ deepflow_app_image }}

DEEPFLOW_SERVER_GRPC_PORT={{ deepflow_server_grpc_port }}
DEEPFLOW_SERVER_HTTP_PORT={{ deepflow_server_http_port }}
DEEPFLOW_APP_PORT={{ deepflow_app_port }}

DEEPFLOW_CLICKHOUSE_ADDR={{ deepflow_clickhouse_addr }}
DEEPFLOW_S3_ENDPOINT={{ deepflow_s3_endpoint }}
DEEPFLOW_S3_BUCKET={{ deepflow_s3_bucket }}
DEEPFLOW_S3_ACCESS_KEY={{ deepflow_s3_access_key }}
DEEPFLOW_S3_SECRET_KEY={{ deepflow_s3_secret_key }}
DEEPFLOW_S3_REGION={{ deepflow_s3_region }}

DEEPFLOW_MYSQL_ADDR={{ deepflow_mysql_addr }}
DEEPFLOW_MYSQL_USER={{ deepflow_mysql_user }}
DEEPFLOW_MYSQL_PASSWORD={{ deepflow_mysql_password }}
DEEPFLOW_MYSQL_DATABASE={{ deepflow_mysql_database }}
