spec:
  listen-port: {{ deepflow_server_http_port }}
  listen-node-port: {{ deepflow_server_grpc_port }}
  listen-node-ip: {{ deepflow_server_listen_ip | quote }}
mysql:
  host: {{ deepflow_mysql_addr.split(':')[0] | quote }}
  port: {{ (deepflow_mysql_addr.split(':') | length > 1) | ternary(deepflow_mysql_addr.split(':')[1], '3306') }}
  user: {{ deepflow_mysql_user | quote }}
  password: {{ deepflow_mysql_password | quote }}
  database: {{ deepflow_mysql_database | quote }}
clickhouse:
  host: {{ deepflow_clickhouse_addr.split(':')[0] | quote }}
  port: {{ (deepflow_clickhouse_addr.split(':') | length > 1) | ternary(deepflow_clickhouse_addr.split(':')[1], '9000') }}
  database: {{ deepflow_clickhouse_database | quote }}
  flow-metrics-ttl-hour: {{ deepflow_flow_metrics_ttl_hour }}
  metrics-ttl-hour: {{ deepflow_metrics_ttl_hour }}
  l4-log-ttl-hour: {{ deepflow_l4_log_ttl_hour }}
  l7-log-ttl-hour: {{ deepflow_l7_log_ttl_hour }}
  prometheus-ttl-hour: {{ deepflow_prometheus_ttl_hour }}
{% if deepflow_s3_enabled | bool %}
s3:
  endpoint: {{ deepflow_s3_endpoint | quote }}
  bucket: {{ deepflow_s3_bucket | quote }}
  ak: {{ deepflow_s3_access_key | quote }}
  sk: {{ deepflow_s3_secret_key | quote }}
  region: {{ deepflow_s3_region | quote }}
{% endif %}
