[Unit]
Description=DeepFlow Agent (Docker)
After=network-online.target docker.service
Requires=docker.service
Wants=network-online.target

[Service]
WorkingDirectory={{ deepflow_agent_stack_dir }}
EnvironmentFile={{ deepflow_agent_env_file }}
ExecStart=/usr/bin/docker compose --env-file {{ deepflow_agent_env_file }} -f {{ deepflow_agent_compose_file }} up -d
ExecStop=/usr/bin/docker compose --env-file {{ deepflow_agent_env_file }} -f {{ deepflow_agent_compose_file }} down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
