DEEPFLOW_AGENT_MODE={{ deepflow_agent_mode }}
DEEPFLOW_AGENT_PROFILE={{ deepflow_agent_profile }}
DEEPFLOW_AGENT_BIN={{ deepflow_agent_binary_path }}
DEEPFLOW_AGENT_ENDPOINT_ARG={{ deepflow_agent_endpoint_arg }}
DEEPFLOW_GRPC_ENDPOINT={{ deepflow_agent_grpc_endpoint }}
DEEPFLOW_AGENT_DISABLE_PCAP={{ deepflow_agent_disable_pcap | ternary('true', 'false') }}
DEEPFLOW_AGENT_DISABLE_VECTOR={{ deepflow_agent_disable_vector | ternary('true', 'false') }}
DEEPFLOW_AGENT_DISABLE_PLUGINS={{ deepflow_agent_disable_plugins | ternary('true', 'false') }}
DEEPFLOW_AGENT_ARGS={{ (deepflow_agent_extra_args | default([])) | join(' ') }}
{% for key, value in (deepflow_agent_extra_env | default({})).items() %}
{{ key }}={{ value | to_json }}
{% endfor %}
