[Unit]
Description=DeepFlow Agent
After=network-online.target
Wants=network-online.target

[Service]
User=root
EnvironmentFile={{ deepflow_agent_env_file }}
ExecStart={{ deepflow_agent_run_script }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
