[Unit]
Description=DeepFlow Connector
After=network-online.target docker.service
Requires=docker.service
Wants=network-online.target

[Service]
WorkingDirectory={{ deepflow_connector_stack_dir }}
EnvironmentFile={{ deepflow_connector_env_file }}
ExecStart=/usr/bin/docker compose --env-file {{ deepflow_connector_env_file }} -f {{ deepflow_connector_compose_file }} up -d
ExecStop=/usr/bin/docker compose --env-file {{ deepflow_connector_env_file }} -f {{ deepflow_connector_compose_file }} down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
