DEEPFLOW_CONNECTOR_IMAGE={{ deepflow_connector_image }}
DEEPFLOW_CONNECTOR_CONFIG_FILE={{ deepflow_connector_config_file }}
DEEPFLOW_CONNECTOR_LISTEN_PORT={{ deepflow_connector_listen_port }}
DEEPFLOW_CONNECTOR_SOURCE_ENDPOINT={{ deepflow_connector_source_endpoint }}
DEEPFLOW_CONNECTOR_SOURCE_JOB_NAME={{ deepflow_connector_source_job_name }}
DEEPFLOW_CONNECTOR_REMOTE_WRITE_URL={{ deepflow_connector_remote_write_url }}
