version: '3.9'

services:
  deepflow-connector:
    container_name: {{ deepflow_connector_container_name }}
    image: ${DEEPFLOW_CONNECTOR_IMAGE}
    restart: unless-stopped
    command:
      - --config=/etc/otelcol-contrib/config.yaml
    ports:
      - '${DEEPFLOW_CONNECTOR_LISTEN_PORT}:13133'
    volumes:
      - ${DEEPFLOW_CONNECTOR_CONFIG_FILE}:/etc/otelcol-contrib/config.yaml:ro
